@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: var(--font-roboto)
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ovo)
}


input {
  border-radius: 0;
}

input {
  -webkit-appearance: none;
}

/* custom theme button */
.dcam-button {
  @apply bg-regGreen py-3 px-6 rounded text-gray-100 hover:bg-[#439d4b] flex justify-center items-center
}

.dcam-link {
  @apply border-b border-b-gray-400 hover:text-lightRed hover:border-b-lightRed
}

.blog-table table, 
.blog-table th,
.blog-table td {
  @apply border-2 border-gray-200 py-2
}

.blog-table thead {
  @apply bg-gray-200
}

.blog-table tbody {
  @apply bg-gray-100
}

button:disabled {
  @apply bg-gray-400 hover:bg-gray-400
}

.menu-item {
  @apply h-10 px-3 lg:px-5 text-center flex justify-center items-center hover:bg-lightBlue
}

.submenu-item {
  @apply h-10 ps-3 lg:ps-5 w-full flex items-center justify-center md:justify-start hover:bg-lightBlue
}



/* home page slider styling */

.slick-slider {
  @apply px-10
}

.slick-arrow.slick-prev {
  background: #FFF;
  left: 10px;
  top: 45%;
  z-index: 10;
}

.slick-arrow.slick-next {
  background: #FFF;
  right: 40px;
  top: 45%;
}

.slick-arrow.slick-next::before, .slick-arrow.slick-prev::before {
  color: gray;
  font-size: 50px;
}